<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	   xsi:schemaLocation="
	http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
	http://code.alibabatech.com/schema/dubbo
	http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations"> <!-- PropertyPlaceholderConfigurer类中有个locations属性，接收的是一个数组，即我们可以在下面配好多个properties文件 -->
			<list>
				<value>classpath:dubbo-runtime.properties</value>
			</list>
		</property>
	</bean>


	<!-- Dubbo配置 -->
	<dubbo:application name="bt-business-center" logger="${dubbo.application.logger}"/>
	<!-- 通过 广播通知所有人-->
	<dubbo:registry address="${registry.address}" protocol="${registry.protocol}" />
	<dubbo:protocol name="${protocol.name}" port="${protocol.port}" threads="500"/>
	<dubbo:provider filter="-exception"/>

	<dubbo:service group="liu" interface="com.liuyq.solr.domain.PrivateCarSearchDomain" version="3.1.0.3" ref="privateCarSearchDomain" validation="false" timeout="500000" retries="0"/>
</beans>

